*{
    font-family: "Overpass", sans-serif;
}
body{
    height: 100vh;
    width: auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: hsl(216, 12%, 8%);
    margin: 0;
}
.container{
    background-color:hsl(215, 16%, 15%);
    /* height: 65vh; */
    width: min(400px, calc(100% - 1em));
    border-radius: 5vmin;
    padding: 1em;
    box-sizing: border-box;

}
.star{
    background-color: hsla(216, 12%, 54%, 0.096);
    padding: 0.8em;
    height: 1em;
    border-radius: 50%;
    margin-left: 1.5em;
    margin-top: 1em;
}
h2{
    color: white;
    font-size: 2rem;
    margin-left: 1em;
}
p{
    color:hsl(217, 12%, 63%);
    font-size:1rem;
   
    margin-left: 2em;
}
form{
    display: flex;
    gap:1.3em;
    margin-left: 2em;
    flex-wrap: wrap;
    
}
.circle{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: hsla(216, 12%, 54%, 0.11);
    color: hsl(217, 12%, 63%);
    text-align: center;
    line-height: 3;
    cursor: pointer;

}
.circle:hover{
    background-color: hsl(25, 97%, 53%);
}
input{
    background-color: hsl(25, 97%, 53%);
    color: white;
    font-weight: 700;
    border: none;
    width: min(25em, calc(100% - 2em));
    margin-top: 4em;
    padding: 1em;
    border-radius:5vmin;
    margin-left: 2em;
    font-family: "Overpass", sans-serif;
    cursor: pointer;
    
}
input:hover{
    background-color: white;
    color:hsl(25, 97%, 53%);

} 

/*Thank you section*/
.tks{
    background-color:hsl(215, 16%, 15%);
    /* height: 65vh; */
    width: min(400px, calc(100% - 1em));
    border-radius: 5vmin;
    padding: 1em;
    display: none;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.tks h2, .tks p {
  margin-left: 0;
}
.cell{
    /* margin-left: 6em; */
    margin-top: 1em;
    height: 8em;
}
.answer{
    background-color: hsla(216, 12%, 54%, 0.11);
    color: orange;
    text-align: center;
    font-weight: 700;
    padding: 0.5em;
    border: none;
    width: 15em;
    margin-top: 2em;
    border-radius:5vmin;
    /* margin-left: 4em; */
    font-family: "Overpass", sans-serif;
    
}
.msg{
    width: min(20em, calc(100% - 16px));
    text-align: center;
}
.tku{
    /* margin-left: 3em; */
}
a{
    text-decoration: none;
    color: white;
}
.bottom-text {
    margin-left: 0px;
    text-align: center;
}
@media only screen and (max-width: 600px)  {
    h2 {
        margin-left: 0;
    }
    p {
        margin-left: 0;
    }
    form {
        margin-left: 0;
    }
    .star {
        margin-left: 0;
    }
    input {
        width: min(25em, 100%);
        margin-left: 0;
    }
}